@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ConsoleHeaven</h1>
    <p class="lead">The best place for high-end, used consoles.</p>
    <p>Our customers love us!</p>
    <p>@Html.ActionLink("Shop", "Index", "Product", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sony</h2>
        <p>
            We offer high end rebuilt Sony consoles. We have from original PlayStation to PlayStation 3.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Nintendo</h2>
        <p>From the O.G. GameBoy to Nintendo DS LiTEs, and NES to Wii. We have all your Nintendo needs!</p>
    </div>
    <div class="col-md-4">
        <h2>PC Gaming</h2>
        <p>We see high-end custom built tower PCs, fast enough for any game, and can handle any level of graphics.</p>
    </div>
</div>